# Environnements virtuels Python
venv/
env/
.venv/

# Variables et secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Bases de données locales
*.sqlite3
db.sqlite3

# Node
node_modules/

# Builds frontend
dist/
build/

# IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db
